@font-face {
  font-family: 'Pixelify Sans';
  src: url('../../assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
